body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
.container {
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
 
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
 
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
 
p {
    font-size: 18px;
    color: #333;
}
 
#quote-author {
    font-weight: bold;
    margin-bottom: 20px;
}
 
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
 
button:hover {
    background-color: #45a049;
}